// tab-panel.component.scss

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 100px 1fr; // Primera columna de 100px, segunda columna ocupa el resto del espacio
  grid-template-rows: 100px 1fr; // Primera fila de 100px, segunda fila ocupa el resto del espacio
  height: 100vh;
  width: 100%;
}

.sidebar {
  grid-row: 1 / span 2; // Ocupa ambas filas
  background-color: #0056a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  a {
    text-decoration: none;
    margin-top: 20px;
    color: black;

    img, .icon {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .icon {
      width: 50px;
      height: 50px;
    }
  }
}

.header {
  grid-column: 2; // Ocupa la segunda columna
  background-color: #0073d5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-column: 2; // Ocupa la segunda columna
  grid-row: 2; // Ocupa la segunda fila
  padding: 10px;
  overflow: auto;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
  }
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  color: black;
}
.modal-content button {
  margin: 0 10px; /* Ajusta el margen entre los botones */
  padding: 10px 20px; /* Ajusta el padding para un tamaño más cómodo */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 5px; /* Borde redondeado */
}

.modal-content button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
