/* Estilos generales */

.barra {
  background-color: rgb(255, 255, 255);
  height: 80px;
  margin-top: -20px;
  margin-left: -20px;
  width: 100%;
  display: flex;
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

#myBtn {
  background: #007bff; /* Fondo azul */
  color: #ffffff; /* Texto blanco */
  font-size: 16px; /* Tamaño de fuente */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

#myBtn:hover {
  background: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Estilos para las tarjetas de curso */

.card-container {
  display: flex; /* Mostrar como flexbox */
  flex-wrap: wrap; /* Envolver las tarjetas cuando no quepan en una sola línea */
  gap: 20px; /* Espacio entre tarjetas */
  width: 100%;
}

.card {
  width: calc(30.3% - 20px); /* Ancho de cada tarjeta (ajustable según el número de tarjetas que quieras mostrar por fila) */
  background-color: #f0f0f0; /* Color de fondo opcional */
  padding: 20px; /* Espacio interno alrededor del contenido */
  margin-bottom: 20px; /* Margen inferior entre tarjetas */
  border-radius: 8px; /* Bordes redondeados para un diseño más suave */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
  transition: transform 0.2s ease-out; /* Transición suave para el movimiento */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.course-card h3 {
  margin-top: 0; /* Elimina el margen superior predeterminado del encabezado */
}

.course-card p {
  margin-bottom: 10px; /* Margen inferior para el párrafo */
}

/* Contenedor de imagen */

.image-container {
  margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
}

.image-container img {
  max-width: 100%; /* Ajuste el tamaño máximo de la imagen */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilos para el texto cuando no hay imagen */

.no-image {
  padding: 10px;
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde ligero */
  border-radius: 8px;
}

.no-image span {
  color: #777777; /* Color de texto gris */
  font-style: italic;
}

.boton{

  margin-left: 20px;
}

.course-card img {
  max-width: 100%; /* Establece el ancho máximo al tamaño del contenedor */
  height: auto; /* Permite que la altura se ajuste proporcionalmente */
  border-radius: 8px; /* Opcional: bordes redondeados para una apariencia suave */
}
.timestamp {
  align-self: flex-end;
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}
