accordion {
  margin: 20px;
}

input[type="text"], input[type="file"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #007BFF;
  border-radius: 4px;
}

button {
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer !important;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: 1px solid #007BFF;
  margin-bottom: 5px;
}

.accordion-header h2 {
  margin: 0;
}

.accordion-content {
  padding: 10px;
  border: 1px solid #007BFF;
  border-top: none;
  margin-bottom: 10px;
}
.card-input {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.card {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #007BFF;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.contenidoArchivos {
  border-radius: 8px;
  padding: 16px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-color: #007BFF;
}
.icon {
  margin-right: 10px;
}
.icon svg {
  width: 24px;
  height: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.size-6 {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

//////
/* CSS */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
  }
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  color: black;
}
.modal-content button {
  margin: 0 10px; /* Ajusta el margen entre los botones */
  padding: 10px 20px; /* Ajusta el padding para un tamaño más cómodo */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 5px; /* Borde redondeado */
}

.modal-content button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
