
<app-aula>
  <div class="ide">
    <h3>Id Padre: {{idPadre}}</h3>
  </div>

  <div class="card-container">
    <a class="card" *ngFor="let hijo of hijos" (click)="seleccionarHijo(hijo.id)">
      <div class="card-content">
        <h3>{{ hijo.nombre }}</h3>
      </div>
    </a>
  </div>

  <div *ngIf="cursosDelHijo.length > 0" class="card-container">
    <a  class="card" *ngFor="let curso of cursosDelHijo">
      <div class="card-content">
        <h3>{{ curso.nombre }}</h3>
        <p>Descripcion: {{ curso.descripcion }}</p>
      </div>
    </a>
  </div>
</app-aula>
